.swal-button {
	width: 150px;
	padding: 7px;
	background-color: darkorange;
	border-radius: 5px;
	border: 2px solid white;
	color: white;
	cursor: pointer;
	font-weight: bold;
}

.swal-button:hover {
	width: 150px;
	background-color: white;
	border: 2px solid darkorange;
	color: darkorange;
	cursor: pointer;
}

.swal-text {
	width: 65%;
	margin: 10px;
	padding: 10px;
}
