html,
body {
	width: 100%;
	background-color: white;
	color: black;
	margin: 0;
	padding: 0;
	/* font-family: "Segoe UI", Tahoma, sans-serif; */
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
}

#content {
	width: 80%;
	margin: auto;
}

#p1 {
	margin-top: 30px;
	font-weight: bold;
	border-bottom: 1px solid darkorange;
	padding: 4px;
}

label {
	display: block;
}

.sync-btn {
	width: 150px;
	padding: 7px;
	background-color: darkorange;
	border-radius: 5px;
	border: 2px solid white;
	color: white;
	cursor: pointer;
	font-weight: bold;
}

.sync-btn:hover {
	width: 150px;
	background-color: white;
	border: 2px solid darkorange;
	color: darkorange;
	cursor: pointer;
}

#p-btn {
	border-top: 1px solid darkorange;
	padding-top: 15px;
}

#fileTypes {
	letter-spacing: -.31em;
	text-rendering: optimizespeed;
	font-family: FreeSans, Arimo, "Droid Sans", Helvetica, Arial, sans-serif;
	-webkit-flex-flow: row wrap;
	letter-spacing: normal;
	word-spacing: normal;
	vertical-align: top;
	text-rendering: auto;
	display: block;
	width: 100%;
	zoom: 1;
}

.grid {
	display: inline-block;
}
span > input {
	display: none;
}
#fileTypes {
	text-align: center;
}
.fileType {
	display: block;
	height: 70px;
	margin: 8px;
	padding: 8px;
	cursor: pointer;
	border: 1px solid #eee;
	background: #eee;
	width: 80px;
	text-align: center;
	border-radius: 5px;
	box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
}
.fileType:hover {
    box-shadow: 0 10px 20px rgba(0,0,0,.19),0 6px 6px rgba(0,0,0,.23);
    background: rgba(0,128,255,.2);
    border: 1px solid rgba(0,128,255,.5)
}
.fileType:active {
	background: darkgray;
	border: 1px solid black;
}

fileType .icon {
	display: block;
	margin: auto;
	width: 30px;
	height: 30px;
	padding-bottom: 8px;
}

.fileType > svg {
	padding-top: 10px;
}

#sync-apply {
	margin-top: 5px;
}

#sync-div {
	border-top: 1px solid darkorange;
	padding-top: 10px;
}